@{
	ViewBag.Title = "Index";
}

@section CSS
{
	<link href="@Url.Content("~/Content/alertify/alertify.core.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/alertify/alertify.default.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/alertify/alertify.bootstrap.css")" rel="stylesheet" />
}

@section ScriptBootstraps
{

}

@section Scripts
{
	<script src="@Url.Content("~/Scripts/require.js")" data-main="@Url.Content("~/Scripts/chapter03-main.js")"></script>
}

<h2>Chapter03/Index</h2>
